marce@LAPTOP-84PPAT8A MINGW64 ~/OneDrive/Desktop/C#/OrderSystem (main)
$ git remote -v
origin  https://github.com/MarceloDev1/OrderSystem.git (fetch)
origin  https://github.com/MarceloDev1/OrderSystem.git (push)

marce@LAPTOP-84PPAT8A MINGW64 ~/OneDrive/Desktop/C#/OrderSystem (main)
$ git add .
error: open(".vs/OrderSystem/FileContentIndex/5a0248fc-0d66-4f60-a814-2b1c6b9a3852.vsidx"): Permission denied
error: unable to index file '.vs/OrderSystem/FileContentIndex/5a0248fc-0d66-4f60-a814-2b1c6b9a3852.vsidx'
fatal: adding files failed

marce@LAPTOP-84PPAT8A MINGW64 ~/OneDrive/Desktop/C#/OrderSystem (main)
$ git status
On branch main

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        .vs/
        OrderSystem.sln
        OrderSystem/
        OrderWorkerService/
        docker-compose.yml

nothing added to commit but untracked files present (use "git add" to track)

marce@LAPTOP-84PPAT8A MINGW64 ~/OneDrive/Desktop/C#/OrderSystem (main)
$ git config --global user.name "Marcelo"

marce@LAPTOP-84PPAT8A MINGW64 ~/OneDrive/Desktop/C#/OrderSystem (main)
$ git config --global user.email "marcelokm15@gmail.com"

marce@LAPTOP-84PPAT8A MINGW64 ~/OneDrive/Desktop/C#/OrderSystem (main)
$ git push -u origin main
error: src refspec main does not match any
error: failed to push some refs to 'https://github.com/MarceloDev1/OrderSystem.git'

marce@LAPTOP-84PPAT8A MINGW64 ~/OneDrive/Desktop/C#/OrderSystem (main)
$ git remote remove origin

marce@LAPTOP-84PPAT8A MINGW64 ~/OneDrive/Desktop/C#/OrderSystem (main)
$ git remote add origin https://github.com/MarceloDev1/OrderSystem.git

marce@LAPTOP-84PPAT8A MINGW64 ~/OneDrive/Desktop/C#/OrderSystem (main)
$ git push -u origin main
error: src refspec main does not match any
error: failed to push some refs to 'https://github.com/MarceloDev1/OrderSystem.git'

marce@LAPTOP-84PPAT8A MINGW64 ~/OneDrive/Desktop/C#/OrderSystem (main)
/OrderSystem/bin/Debug/net8.0/cs/Microsoft.Data.SqlClient.resources.dll
/OrderSystem/bin/Debug/net8.0/de/Microsoft.Data.SqlClient.resources.dll
*.dll
/OrderSystem/bin/Debug/net8.0/OrderSystem.pdb
/OrderSystem/obj/Release/net8.0/PubTmp/Out/runtimes/win-x64/native/librdkafkacpp.dll
/.vs/OrderSystem
/OrderSystem/bin/Release/net8.0
/OrderSystem/obj/Debug/net8.0/OrderSystem.AssemblyInfo.cs
/OrderWorkerService/obj/Debug/net8.0/OrderWorkerService.assets.cache
/OrderWorkerService/obj/Debug/net8.0/OrderWorkerService.AssemblyInfo.cs
/OrderWorkerService/obj/Debug/net8.0/OrderWorkerService.AssemblyInfoInputs.cache
/OrderSystem/obj/Debug/net8.0/OrderSystem.AssemblyInfoInputs.cache
/OrderSystem/obj/Debug/net8.0/OrderSystem.assets.cache
